@import "_colors";

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  box-sizing: border-box;

  img {
    width: 100px;
    margin-left: 25px;
  }

  input {
    border: 1px solid $primary-color;
    width: 320px;
    border-radius: 20px;
    height: 30px;
    padding: 0 20px;
  }
}
